* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    line-height: 1.6;
    background-image: url(kepek/hatter2.jpg);
    background-size: cover;
}

header {
    background-color: rgb(247, 177, 127);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(240, 248, 255, 0.6);
    max-width: 60%;
    display: block;
    margin: auto;
}

section h2 {
    font-size: 2rem;
    color: rgb(148, 75, 46);
    margin-bottom: 15px;
}

ul, ol {
    margin-left: 0px;
}

ul li, ol li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
textarea {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: rgb(148, 75, 46);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: rgb(247, 177, 127);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(247, 177, 127);
    margin-top: 40px;
    color: white;
    text-shadow: 3px 3px 5px black;
}

input, textarea {
    background-color: rgba(240, 248, 255, 0.8);
}

article {   
    margin-top: 35px;
}

nav ul p a {
    color: rgb(148, 75, 46);
}

nav ul p {
    padding-top: 20px;
}

ul li {
    color: white;
}

#bekuldes .kep{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.kep {
    padding-top: 5px;
    padding-left: 5px;
}