* {
    box-sizing: border-box;
}

body {
    background-image: url(kepek/hatter2.jpg);
}

main {
    background-color: rgb(247, 177, 127);
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: ;
    grid-template-areas: ;
}

header {
    background-color: rgb(148, 75, 46);
    margin: 10px;
    border-radius: 5px;
}

header h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

article img {
    width: 700px;
    margin: 10px;
    
}

nav {
    background-color: rgb(148, 75, 46);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

nav ul li 