
body {
    background-image: url("kepek/darkwoodwp.jpg");
    background-size: cover;
    height: 100vh;
    width: 90%;
    max-width: 900px;
    margin: auto;
}


main {
    margin: auto;
    background-color: rgb(245, 203, 167);
    border-radius: 15px;
    font-family: "Gill Sans", sans-serif;

}

header {
    text-align: center;
    height: 100px;
}

header h1 {
    padding-top: 25px;
    color: white;
}

nav {
    background-color: rgb(229, 152, 102);
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

nav ul.bal {
    display: flex;
    padding-left: 0px;
    
}

nav ul.bal li {

    height: 100%;
}

nav ul.bal li a  {
    border-right: 2px solid white;
    padding: 15px;
}

nav ul.jobb {
    padding-left: 0px;
}

nav ul.jobb li a {
    padding-right: 20px;
    padding: 15px;
    border-left: 2px solid white;
}

nav li {
    list-style-type: none;

}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}


nav ul li a:hover {
    color: rgba(211, 84, 0);
    transition: 0.5s;
}

article {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

article h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 15px;
    opacity: 5;
    color: white;
}

article div {
    margin: auto;
    flex: 0 0 auto;
    background-color: rgb(151, 154, 154);
    height: 250px;
    width: 350px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 1);
}

article div ul {
    padding: 0px;
    margin: 17px;

}

article div ul li {
    margin-top: 2px;
    margin-bottom: 2px;
}

article div h1 a {
    text-decoration: none;
    color: white;
}

.fpiritos {
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-image: url(kepek/fokhagymaspiritos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hpizza {
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-image: url(kepek/hazipizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.csmuffin {
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-image: url(kepek/csokismuffin.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.csmuffin h1 a {
    color: rgba(229, 152, 102);
}


.csmuffin h1 a:hover {
    color: white;
    transition: 0.5s;
}

.zserbo {
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    background-image: url(kepek/zserbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

footer {
    text-align: center;    
    background-color: rgb(229, 152, 102);
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
    color: white;
}

@media (max-width: 900px) {

    article {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
        nav ul {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
        }

        article {
            display: grid;
            grid-template-columns: 1fr;
        }
}