* {
    box-sizing: border-box;
}

body {
    background-image: url(kepek/hatter2.jpg);
}

main {
    background-color: rgb(245, 203, 167);
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: "h h"
                        "n n"
                        "a a"
                        "asl asc"
                        "sr asc"
                        "f f";
    border-radius: 15px;
    font-family: "Bookman Old Style", Georgia, serif;
}

header {
    grid-area: h;
    margin: 10px;
    border-radius: 5px;
    height: 150px;
}

header h1 {
    color: white;
    text-align: center;
}

header p {
    color: white;
    text-align: center;
    font-style: bold;
    border-bottom: 2px solid white;
}

nav {
    grid-area: n;
    background-color: rgb(229, 152, 102);
    padding: 10px;
    border-radius: 15px 15px 0px 0px;
}

nav ul {
    border-radius: 15px 15px 0px 0px;
    display: flex;
    padding: 0px;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 30px;
    padding: 5px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li:hover {
    border-radius: 5px;
    background-color: rgb(123, 125, 125);
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px white;
}

article {
    grid-area: a;
}

article img {
    display: block;
    width: 100%;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    
}

footer {
    background-color: rgb(229, 152, 102);
    margin: 10px;
    border-radius: 5px;
    grid-area: f;
}

footer p {
    text-align: center;
    color: white;
}

aside .lista {
    grid-area: asl;
    margin-right: 10px;
}


aside .recept {
    grid-area: asc;
    margin-right: 10px;
}

aside .lista ul {
    padding-left: 40px;
    margin-right: 10px;
}

aside .recept p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

section .recept {
    margin: 10px;
    grid-area: sc;
}

fieldset {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(240, 248, 255, 0.6);
    max-width: 90%;
    display: block;
    margin: auto;
    
}

section fieldset legend {
    font-weight: bold;
}

button {
    background-color: rgb(229, 152, 102);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: rgb(247, 177, 127);
}